.form-header {
  text-align: left;
  background-color: #bc4639;
  color: #5c2018;
  display: flex;
  justify-content: space-between;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px grey;
}

.add-form {
  align-items: center;
  border: 1px solid #bc4639;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: #e6bdb3;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 7px;
  padding-bottom: 5px;
  width: 700px;
  box-shadow: 5px 10px 5px 10px rgb(162, 201, 233);
}
input,
select {
  border: 2px solid #bc4639;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
}

.upload-button {
  border: 4px solid #bc4639;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 10px;
  width: 150px;
  margin-top: 10px;
  background-color: #4285f4;
  color: #f3e0dc;
  font-weight: bold;
}
