.upload-pet-button {
  border: 4px solid #bc4639;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 10px;
  width: 150px;
  margin-top: 10px;
  background-color: #4285f4;
  color: #f3e0dc;
  font-weight: bold;
}
.list-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboard-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #bc4639;
  border-radius: 10px;
  max-width: 800px;
  background-color: #e6bdb3;
  margin-top: 5px;
  margin-bottom: 7px;
  padding-bottom: 5px;
  width: 700px;
  box-shadow: 5px 10px 5px 10px rgb(162, 201, 233);
}
.lost-found-scroll {
  color: #bc4639;
  font-weight: bold;
}
