@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold text-center mb-4;
  }
  h2 {
    @apply text-xl;
  }

  h3,h4,h5 {
    @apply text-lg;
    @apply font-sans font-bold text-indigo-500 text-left mt-4
  }

  button {
    @apply my-5 bg-blue-200 bg-opacity-50 w-auto p-2.5 rounded-lg self-center;
  }

  button:hover {
    border: 3px solid pink;
  }
}

@layer components {
  .white-box {
    @apply bg-white rounded-2xl m-8 p-8 lg:px-djr-side;
  }

  .map-container {
    width: 100%;
  }
}


