.home-header {
  text-align: left;
  background-color: #bc4639;
  color: #5c2018;
  display: flex;
  justify-content: space-between;
}

.title-header {
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-logo {
  padding: 20px;
}
