li {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #e6bdb3;
  list-style-type: none;
  margin-right: 35px;
  padding: 3px;
  border: 1px solid #bc4639;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.paws-item {
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: #4090fa;
  width: 400px;
}
.pet-picture {
  border-radius: 45px;
  border: 1px solid #4285f4;
}
.delete_btn {
  border: 2px solid #bc4639;
  border-radius: 35px;
  background-color: #4285f4;
  color: #bc4639;
}
.lost-found-title {
  text-align: left;
  color: #bc4639;
}
h5 {
  text-decoration: underline;
}
