.list-container {
  background-color: #d4a59a;
  border: 1px solid #bc4639;
  border-radius: 5px;
  width: 450px;
}
.descr-loc-container {
  color: #030303;
  text-align: left;
  font-size: medium;
}
.click-add-h4 {
  color: blue;
  margin-right: 30px;
}
