.form-header {
  text-align: left;
  background-color: #bc4639;
  color: #5c2018;
  display: flex;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #bc4639;
  max-width: 800px;
  width: 700px;
  background-color: #e6bdb3;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 7px;
  padding-bottom: 5px;
  box-shadow: 5px 10px 5px 10px rgb(162, 201, 233);
  font-weight: bold;
}
.container-wrap {
  display: flex;
  justify-content: center;
}
.lost-found-title {
  font-size: larger;
  color: #bc4639;
  font-weight: bolder;
}
.descr-loc-container {
  color: #030303;
  font-size: medium;
  padding-left: 4px;
}
.comment-section {
  margin-top: 15px;
  border: 4px solid #4090fa;
  border-radius: 3px;
  width: 450px;
  box-shadow: 2px 5px 2px 2px rgb(61, 63, 65);
  margin-bottom: 5px;
}
.text-comment {
  border: 1px solid #4090fa;
  background-color: white;
  padding: 4px;
  margin: 4px;
}
.pic-button {
  border: 2px solid #bc4639;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 10px;
  width: 70px;
  background-color: #4285f4;
  color: #f3e0dc;
  font-weight: bold;
}
