.pet-picture {
  width: 200px;
  height: 150px;
}

.pictures-button {
  margin-left: 120px;
  border: 1px solid #bc4639;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 10px;
  width: 70px;
  background-color: #4285f4;
  color: #f3e0dc;
  font-weight: bold;
}
